body {
    background-color: #f2f2f2;
    padding: 0; 
    width: fit-content;
    min-width: 100%;    
}

.textoSalto {
    white-space: pre-line;
}

.gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(to left, #043F88, #00B185);
}

.error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.btn-verde {
    color: white !important;
}

.bg-warning {
    color: #212529 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #343a40;
    border: 5px solid #fff;
    border-radius: 0.25rem;
    opacity: 0;
    transition: .1s ease;
}
.overlay-icon {
    opacity: 0;
}
.overlay-container:hover .overlay {
    opacity: 0.5;
}
.overlay-container:hover .overlay-icon{
    opacity: 1;
}